{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>{% block title %}{% endblock title %}</title>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}" ></script>
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'fontawesome/js/all.min.js' %}" ></script>
<!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!--script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script-->


{% block style %} {% endblock style %}
  </head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exercito Brasileiro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        {% if user.is_authenticated %}
        {% include "li_private.html" %}
        {% else %}
        {% include "li_public.html" %}
        {% endif %}
      </ul>
      <form role="search" method="GET" action="{% block action_search %}{% endblock action_search %}">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="button-addon2" name="q">
          <button class="btn btn-outline-primary" type="button" id="button-addon2">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    <a type="button" class="btn btn-outline-light" href="{% url 'access:access-login-view' %}" style="margin-left: 15px;"><i class="fa-solid fa-address-card"></i></a>
    </div>
  </div>
</nav>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show " role="alert" style="margin: 15px 10px 15px 10px;box-shadow: 10px 5px 15px #0000008a;">
  <strong>{{ message }}</strong>.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
</div>
{% endfor %}
{% endif %}
<div class="container-fluid">

{% block content %}{% endblock content %}
  <!-- Content here -->
{% block script %} {% endblock script %}
</div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}" ></script>
</body>
</html>