{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>{% block title %}{% endblock title %}</title>


    <script src="{% static 'js/jquery-3.6.0.min.js' %}" ></script>
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'fontawesome/js/all.min.js' %}" ></script>

<!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script-->


{% block style %} {% endblock style %}
  </head>

<body>
<main>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exercito Brasileiro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">1° Sessão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">2° Sessão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pp:home' %}">Programa Padrão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ndaca:home' %}">NDACA</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Relatórios</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="dropdown-item" href="{% url 'militar:militar-escolaridade-reportview' %}">Escolaridades</a></li>
            <li><a class="dropdown-item" href="{% url 'militar:militar-religiao-reportview' %}">Religião</a></li>
            <li><a class="dropdown-item" href="{% url 'militar:militar-geochart-reportview' %}">GeoRelatório</a></li>
            <li><a class="dropdown-item" href="#">Outros</a></li>
          </ul>
        </li>
      </ul>
      <form role="search">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">
              <span class="fa fa-search" aria-hidden="true"></span>
            </button>
          </div>

      </form>
    </div>
  </div>
</nav>

{% block content %}{% endblock content %}
  <!-- Content here -->
</main>

{% block script %} {% endblock script %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}" ></script>
</body>
</html>