{% extends "base_generic_main.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/pg_1.jpg' %}" class="figure-img img-fluid" style="margin-bottom: 0px;" />

      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Garantia da Lei e da Ordem.</h1>
          <p>GLO, ocorre geralmente nos casos em que há esgotamento das forças tradicionais de segurança pública, em situações graves de perturbação da ordem...</p>
          <p><a class="btn btn-lg btn-primary" href="#">Detalhes</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/pg_2.jpg' %}" class="figure-img img-fluid" style="margin-bottom: 0px;"/>

      <div class="container">
        <div class="carousel-caption">
          <h1>Operação Controle de Distúrbio.</h1>
          <p>OCD, utilizado para dispersar uma turba, que está causando desordem e destrução do patrimonio publico e privado...</p>
          <p><a class="btn btn-lg btn-primary" href="#">Detalhes</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/pg_3.jpg' %}" class="figure-img img-fluid"  style="margin-bottom: 0px;"/>

      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Estagio e Cursos</h1>
          <p>Os Biomas do Brasil proporcionam...</p>
          <p><a class="btn btn-lg btn-primary" href="#">Detalhes</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}