{% extends "base_generic_main.html" %}
{% load static %}
{% block title %}{{ materia.nome }}{% endblock %}
{% block content %}

  <h1 class="visually-hidden">{{ materia.nome }}</h1>

  <div class="text-center">
    {% if materia.capa %}
    <img src="{{ materia.capa.url }}" class="d-block mx-auto mb-4 img-fluid" alt="...">
    {% else %}
    <img class="d-block mx-auto mb-4 img-fluid" src="{% static 'img/img_default.jpg' %}" alt="">
    {% endif %}
    <h1 class="display-5 fw-bold">{{ materia.nome }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ materia.descricao }}</p>
      <!--div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Editar</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Selecionar</button>
      </div-->
    </div>
  </div>

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col" style="min-width: 150px;">Objetivo</th>
      <th scope="col" style="min-width: 250px;">Condição</th>
      <th scope="col" style="min-width: 250px;">Minimo</th>
      <th scope="col" style="min-width: 250px;">Intermediario</th>
    </tr>
  </thead>
  <tbody>
    {% for objetivo in objetivos %}
    <tr>
    <td><a href="{% url 'pp:objetivo' objetivo.pk %}">{{ objetivo.codigo }}</a></td>
    <td >{{ objetivo.nome }}</td>
    <td style="text-align: justify;">{{ objetivo.condicao|linebreaks  }}</td>
    <td >{{ objetivo.minimo|linebreaks  }}</td>
    <td>{{ objetivo.intermediario|linebreaks  }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}