{% extends "base_generic_main.html" %}
{% load static %}
{% block title %}Programa Padrão - {{ objetivo.codigo }}{% endblock %}
{% block content %}

  <h1 class="visually-hidden">{{ objetivo.nome }}</h1>

  <div class="text-center">
    {% if objetivo.capa %}
    <img src="{{ objetivo.capa.url }}" class="d-block mx-auto mb-4 img-fluid" alt="...">
    {% else %}
    <img class="d-block mx-auto mb-4 img-fluid" src="{% static 'img/img_default.jpg' %}" alt="">
    {% endif %}
    <h1 class="display-5 fw-bold">{{ objetivo.nome }}</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" data-bs-toggle="modal" data-bs-target="#FormSessao">Gerar Plano de Sessão</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#FormPlanSeg" class="btn btn-success btn-lg px-4 gap-3">Gerar Plano de Segurança</button>
        <a type="button" class="btn btn-danger btn-lg px-4 gap-3" href="{% url 'pp:gerenciamento_risco-view' objetivo_id=objetivo.pk %}">Gerar Gerenciamento de Risco</a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Baixar Instrução</button>
      </div>
      <ul class="list-group list-group-flush" style="align-items: baseline;">
  {% for assunto in assuntos %}
  <li class="list-group-item" style="text-align: initial;">{{ assunto.nome }}
  {% if assunto.subassunto %}
  <ul class="list-group list-group-flush" style="align-items: baseline;margin-left: 20px;"><!--list-group-numbered-->
    {% for sub in assunto.subassunto %}
    {% cycle 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' as alphas silent %}
    <li class="list-group-item">{{ alphas }}. {{ sub.nome }}</li>
    {% endfor %}
    {% resetcycle %}
  </ul>
  {% endif %}
  </li>
  {% endfor %}
</ul>
    </div>
  </div>

<div class="accordion accordion-flush mb-4" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        CONDIÇÃO
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">{{ objetivo.condicao|linebreaks }}</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        PADRÃO MÍNIMO
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">{{ objetivo.minimo|linebreaks }}</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        SUGESTÕES PARA OBJETIVOS INTERMEDIÁRIOS
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">{{ objetivo.intermediario|linebreaks }}</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFor">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor">
        ARQUIVOS &amp; INSTRUÇÕES
      </button>
    </h2>
    <div id="flush-collapseFor" class="accordion-collapse collapse" aria-labelledby="flush-headingFor" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <li class="list-group list-group-flush">
          {% for arq in arquivos %}
          <ul class="list-group-item"><a href="{{ arq.arquivo.url }}">{{ arq.nome }}</a></ul>
          {% endfor %}
        </li>
      </div>
    </div>
  </div>
</div>


<!-- Plano de Sessão -->
<div class="modal modal-xl fade" id="FormSessao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="{% url 'pp:gerar_plano_session' objetivo.pk %}" method="POST">{% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gerar Plano de Sessão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Plano</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="intro-tab" data-bs-toggle="tab" data-bs-target="#intro-tab-pane" type="button" role="tab" aria-controls="intro-tab-pane" aria-selected="false">Introdução</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="dev-tab" data-bs-toggle="tab" data-bs-target="#dev-tab-pane" type="button" role="tab" aria-controls="dev-tab-pane" aria-selected="false">Desenvolvimento</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="end-tab" data-bs-toggle="tab" data-bs-target="#end-tab-pane" type="button" role="tab" aria-controls="end-tab-pane" aria-selected="false">Conclusão</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row">
              <div class="col-md-6">
                <label for="inputFase" class="form-label">Fase</label>
                <input type="text" class="form-control" id="inputFase" name="fase" placeholder="Instrução Individual">
              </div>
              <div class="col-md-6">
                <label for="inputTurma" class="form-label">Turma</label>
                <input type="text" class="form-control" id="inputTurma" name="turma" placeholder="Grupamento de Recrutas">
              </div>
              <div class="col-md-6">
                <label for="inputOM" class="form-label">OM</label>
                <select id="inputOM" class="form-select" name="OM">
                  <option selected>Selecione...</option>
                  {% for u in batalhoes %}
                  <option value="{{ u.pk }}">{{ u.abr }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label for="inputGDH" class="form-label">GDH</label>
                <input type="text" class="form-control" id="inputGDH" name="GDH" placeholder="Conforme QTS.">
              </div>
              <div class="col-md-12 text-success"><hr></div>
              <div class="col-md-12">
                <label for="inputMateria" class="form-label">Materia</label>
                <input type="text" class="form-control" id="inputMateria" name="materia" value="{{ objetivo.materia.nome }}" disabled>
              </div>
              {% for assunto in assuntos %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ assunto.pk }}" id="flexCheck{{ assunto.pk }}"name="assunto[]">
                <label class="form-check-label" for="flexCheck{{ assunto.pk }}">{{ assunto.nome }}</label>
              </div>
              {% endfor %}
              <div class="col-md-12 text-success"><hr></div>
              <div class="col-md-12">
                <label for="inputDaSessao" class="form-label">Da Sessão</label>
                <input type="text" class="form-control" id="inputDaSessao" name="objetivo" value="{{ objetivo.nome }}"/>
              </div>
              <div class="col-md-12">
                <label for="inputIntermediario" class="form-label">Intermediários</label>
                <textarea class="form-control" id="inputDaSessao" name="intermediario">{{ objetivo.intermediario }}</textarea>
              </div>
              <div class="col-md-12 text-success"><hr></div>
              <div class="col-md-6">
                <label for="inputLocal" class="form-label">Local da Instrução</label>
                <input type="text" class="form-control" id="inputLocal" name="local" value=""/>
              </div>
              <div class="col-md-6">
                <label for="inputMAI" class="form-label">Meios Auxiliares</label>
                <input type="text" class="form-control" id="inputMAI" name="mai" value=""/>
              </div>
              <div class="col-md-12 text-success"><hr></div>
              <div class="col-md-12">
                <p>TÉCNICA(S) DE INSTRUÇÃO:</p>
              </div>
              <div class="col-md-4">
              {% for tecnica in tecnicas %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="{{ forloop.counter0 }}" id="tecnica_{{ forloop.counter0 }}" name="tecnica[]">
                  <label class="form-check-label" for="tecnica_{{ forloop.counter0 }}">{{ tecnica }}</label>
                </div>
                {% if forloop.counter0 == 3 %}
                </div>
                <div class="col-md-4">
                {% elif forloop.counter0 == 7 %}
                </div>
                <div class="col-md-4">
                {% endif %}
              {% endfor %}
              </div>
              
              <div class="col-md-12 text-success"><hr></div>
              <div class="col-md-6">
                <label for="inputMAdm" class="form-label">Medidas Administrativas</label>
                <textarea class="form-control" id="inputMAdm" name="MAdm">Verificar as condições do local de instrução, providenciar limpeza e arrumação do local.</textarea>
              </div>
              <div class="col-md-6">
                <label for="inputMSeg" class="form-label">Medidas Segurança</label>
                <textarea class="form-control" id="inputMSeg" name="MSeg">A instrução não oferece risco, porém caso algum militar precise de apoio médico, o mesmo será encaminhado a SSSU da OM.</textarea>
              </div>
              <div class="col-md-12">
                <label for="inputFCons" class="form-label">Fontes de Consulta</label>
                <textarea class="form-control" id="inputFCons" name="FCons"></textarea>
              </div>
              <div class="col-md-12 text-success"><hr></div>
              <div class="col-md-4">
                <label for="inputInstrutores" class="form-label">Instrutor(es).</label>
                <textarea class="form-control" id="inputInstrutores" name="Instrutores">- </textarea>
              </div>
              <div class="col-md-4">
                <label for="inputMonitores" class="form-label">Monitor(es).</label>
                <textarea class="form-control" id="inputMonitores" name="Monitores">- </textarea>
              </div>
              <div class="col-md-4">
                <label for="inputAuxiliares" class="form-label">Auxiliar(es).</label>
                <textarea class="form-control" id="inputAuxiliares" name="Auxiliares">- </textarea>
              </div>
              <div class="col-md-12 text-success"><hr></div>
              <div class="col-md-6">
                <label for="inputCmtSU" class="form-label">Cmt SU</label>
                <input type="text" class="form-control" id="inputCmtSU" name="CmtSU" value=""/>
              </div>
              <div class="col-md-6">
                <label for="inputS3" class="form-label">S3</label>
                <input type="text" class="form-control" id="inputS3" name="S3" value=""/>
              </div>

              <!--div class="form-floating mb-3">
                <input type="text" class="form-control" id="recipient-name" placeholder="">
                <label for="recipient-name" >Recipient:</label>
              </div-->
            </div>
          </div>
          <div class="tab-pane fade" id="intro-tab-pane" role="tabpanel" aria-labelledby="intro-tab" tabindex="0">
            <div class="row">
              <div class="col-md-4">
                <label for="inputTempoIntroducao" class="form-label">Tempo:</label>
                <input type="text" class="form-control" id="inputTempoIntroducao" name="tempo_introducao" value="15min"/>
              </div>
              <div class="col-md-12">
                <label for="inputintroducao" class="form-label">Introdução: </label>
                <textarea class="form-control" id="inputintroducao" name="introducao"></textarea>
              </div>
              <div class="col-md-6">
                <label for="inputobjetivos" class="form-label">a. OBJETIVOS: </label>
                <textarea class="form-control" id="inputobjetivos" name="objetivos"></textarea>
              </div>
              <div class="col-md-6">
                <label for="inputincentivos" class="form-label">d. INCENTIVOS: </label>
                <textarea class="form-control" id="inputincentivos" name="incentivos"></textarea>
              </div>
              <div class="col-md-12">
                <label for="inputsumario" class="form-label">SUMARIO: </label>
                <textarea class="form-control" id="inputsumario" name="sumario">
<ol>
  <li>INTRODU&Ccedil;&Atilde;O</li>
  <li>DESENVOLVIMENTO
  <ol>
    <li>Teste 01
    <ol style="list-style-type:lower-alpha">
      <li>test1</li>
      <li>test2</li>
    </ol>
    </li>
    <li>Teste 02</li>
  </ol>
  </li>
  <li>CONCLUS&Atilde;O</li>
</ol>
                </textarea>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="dev-tab-pane" role="tabpanel" aria-labelledby="dev-tab" tabindex="0">
            <div class="row">
              <div class="col-md-4">
                <label for="inputTempoDev" class="form-label">Tempo:</label>
                <input type="text" class="form-control" id="inputTempoDev" name="tempo_desenvolvimento" value="2h 15min"/>
              </div>
              <div class="col-md-12">
                <label for="inputdesenvolvimento" class="form-label">DESENVOLVIMENTO: <span class="text-muted">adicione {nova_pagina}</span> </label>
                <textarea class="form-control" id="inputdesenvolvimento" name="desenvolvimento"></textarea>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="end-tab-pane" role="tabpanel" aria-labelledby="end-tab" tabindex="0">
            <div class="row">
              <div class="col-md-4">
                <label for="inputTempoConclusao" class="form-label">Tempo:</label>
                <input type="text" class="form-control" id="inputTempoConclusao" name="tempo_conclusao" value="15min"/>
              </div>
              <div class="col-md-12">
                <label for="inputconclusao" class="form-label">CONCLUSÃO: </label>
                <textarea class="form-control" id="inputconclusao" name="conclusao" rows="14">
    a) Será verificado se alguém precisa de atendimento médico.
    b) Retirada de dúvidas.
    c) Fazer uma retificação do conteúdo abordado, por meio de perguntas aos intruendos.
    d) Se todos atingiram os padrões necessários e não haver mais nenhuma dúvida do conteúdo será feito uma síntese de todo o assunto para finalizar a instrução.
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Gerar</button>
      </div>
    </div>
    </form>
  </div>
</div>

<!--Plano de Segurança-->
<div class="modal modal-xl fade" id="FormPlanSeg" tabindex="-1" aria-labelledby="FormPlanSegModalLabel" aria-hidden="true">
  <div class="modal-dialog"><form action="{% url 'pp:gerar_plano_session' objetivo.pk %}" method="POST">{% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FormPlanSegModalLabel">Gerar Plano de Segurança</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <ul class="nav nav-tabs" id="myTabPlanSeg" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="execucao-tab" data-bs-toggle="tab" data-bs-target="#execucao-tab-pane" type="button" role="tab" aria-controls="execucao-tab-pane" aria-selected="true">Execução</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="normas-tab" data-bs-toggle="tab" data-bs-target="#normas-tab-pane" type="button" role="tab" aria-controls="normas-tab-pane" aria-selected="false">Normas</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="medidasseg-tab" data-bs-toggle="tab" data-bs-target="#medidasseg-tab-pane" type="button" role="tab" aria-controls="medidasseg-tab-pane" aria-selected="false">Medidas de segurança</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContentSeg">
            <div class="tab-pane fade show active" id="execucao-tab-pane" role="tabpanel" aria-labelledby="execucao-tab" tabindex="0">
              <div class="row">
                <div class="col-md-4">
                  <label for="id_grau_risco" class="form-label">GRAU DE RISCO DA ATIVIDADE:</label>
                  <input type="text" class="form-control" id="id_grau_risco" name="grau_risco" value="Baixo"/>
                </div>
                <div class="col-md-12">
                  <label for="id_condicoes_execucao" class="form-label">CONDIÇÕES DE EXECUÇÃO: </label>
                  <textarea class="form-control" id="id_condicoes_execucao" name="condicoes_execucao">

<h5>Quadro Horario</h5>
<table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
  <thead>
    <tr>
      <th scope="col">Atividade</th>
      <th scope="col">Tempo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Instrução Teórica</td>
      <td>25mim</td>
    </tr>
    <tr>
      <td>Instrução Prática - </td>
      <td>1h</td>
    </tr>
    <tr>
      <td>Tiragem de duvidas</td>
      <td>15mim</td>
    </tr>
  </tbody>
</table>
                  </textarea>
                </div>
                <div class="col-md-12">
                  <hr>
                  <label for="id_rec_ensaio_briefing" class="form-label">RECONHECIMENTOS, ENSAIOS E BRIEFING: </label>
                  <textarea class="form-control" id="id_rec_ensaio_briefing" name="rec_ensaio_briefing">
<ul>
  <li>Foi reconhecido a área e local ...</li>
  <li>...</li>
</ul>
                  </textarea>
                </div>
                <div class="col-md-12">
                  <hr>
                  <label for="id_comunicacao" class="form-label">LIGAÇÕES E COMUNICAÇÕES: </label>
                  <textarea class="form-control" id="id_comunicacao" name="comunicacao">
<table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
  <thead>
    <tr>
      <th scope="col">P/G</th>
      <th scope="col">Nome</th>
      <th scope="col">Função</th>
      <th scope="col">Rádio</th>
      <th scope="col">Canal Pcp/Altn</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>--</td><td>--</td><td>Instrutor</td><td>--</td><td>--</td></tr>
    <tr><td>--</td><td>--</td><td>Monitores</td><td>--</td><td>--</td></tr>
    <tr><td>--</td><td>--</td><td>Auxiliar (sfc)</td><td>--</td><td>--</td></tr>
    <tr><td>--</td><td>--</td><td>Médico</td><td>--</td><td>--</td></tr>
    <tr><td>--</td><td>--</td><td>Enfermeiro (sfc)</td><td>--</td><td>--</td></tr>
    <tr><td>--</td><td>--</td><td>Atendente (sfc)</td><td>--</td><td>--</td></tr>
    <tr><td>--</td><td>--</td><td>Guiá</td><td>--</td><td>--</td></tr>
  </tbody>
</table>
                  </textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="normas-tab-pane" role="tabpanel" aria-labelledby="normas-tab" tabindex="0">
              <div class="row">
                <div class="col-md-12">
                  <label for="id_referencias" class="form-label">REFERÊNCIAS: </label>
                  <textarea class="form-control" id="id_referencias" name="referencias">
<ol style="list-style-type:lower-alpha">
  <li>EB70-CI11.463 - Prevenção de Acidentes na Instrução e no Serviço</li>
  <li>Programa de Prevenção de Acidentes do Batalhão</li>
  <li>...</li>
</ol>
                  </textarea>
                </div>
                <div class="col-md-12">
                  <hr>
                  <label for="id_normas_gerais" class="form-label">NORMAS GERAIS DE SEGURANÇA: </label>
                  <textarea class="form-control" id="id_normas_gerais" name="normas_gerais">
<ul>
  <li></li>
  <li>...</li>
</ul>
                  </textarea>
                  <p>- O <strong>instrutor</strong> deve consultar o capítulo IV do Caderno de instrução EB70-CI11.463, onde consta as <strong>normas gerais de segurança</strong> para cada tipo de instrução de risco.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="medidasseg-tab-pane" role="tabpanel" aria-labelledby="medidasseg-tab" tabindex="0">
              <div class="row">
                <div class="col-md-12">
                  <hr>
                  <label for="id_medidas_preventivas" class="form-label">MEDIDAS PREVENTIVAS PRELIMINARES: </label>
                  <textarea class="form-control" id="id_medidas_preventivas" name="medidas_preventivas">
<ul>
  <li></li>
  <li>...</li>
</ul>
                  </textarea>
                </div>
                <div class="col-md-12">
                  <hr>
                  <label for="id_medidas_particulares" class="form-label">MEDIDAS PARTICULARES DE SEGURANÇA: </label>
                  <textarea class="form-control" id="id_medidas_particulares" name="medidas_particulares">
<ul>
  <li>cerca, pedras, itinerário com locais de risco, foram retirados do local principal da pista ou isolados com fita zebrada sfc. </li>
  <li>...</li>
</ul>
                  </textarea>
                </div>
                <div class="col-md-12">
                  <hr>
                  <label for="id_medidas_outras" class="form-label">OUTRAS MEDIDAS JULGADAS NECESSÁRIAS: </label>
                  <textarea class="form-control" id="id_medidas_outras" name="medidas_outras">
<ul>
  <li>Nenhuma</li>
</ul>
                  </textarea>
                </div>
                <div class="col-md-12">
                  <hr>
                  <label for="id_medidas_caso_acidente" class="form-label">PROCEDIMENTOS A SEREM ADOTADOS EM CASO DE ACIDENTE: </label>
                  <textarea class="form-control" id="id_medidas_caso_acidente" name="medidas_caso_acidente">
<ol style="list-style-type:lower-alpha">
  <li>O 1º Socorro será prestado ao acidentado por um militar da equipe de instrução que deverá tomar as devidas providências de acordo com o acidente:
    <ol>
      <li>Acidente leve: prestar os primeiros socorros e encaminhar a equipe de saúde para triagem.</li>
      <li>Acidentes graves:
        <ol style="list-style-type:lower-alpha">
          <li>Instrutor/monitor informar de imediato ao médico;</li>
          <li>Prestar os primeiros socorros e evacuar o acidentado o mais rápido possível.</li>
          <li>Após avaliação do médico, a equipe de saúde deverá estar ECD evacuar o militar para o hospital mais próximo.</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>O atendimento médico será realizado em três níveis:
    <ol>
      <li>1º Nível (local do acidente):
        <ol style="list-style-type:lower-alpha">
          <li>O médico do Btl deverá ter condições de realizar os socorros de urgência.</li>
          <li>Em caso de acidente leve, o militar permanece na atividade.</li>
          <li>Em caso de acidente mais grave, segue para o 2º nível.</li>
        </ol>
      </li>
      <li>2º Nível<br>
- O acidentado será conduzido à ambulância ou enfermaria para um atendimento mais criterioso.</li>
      <li>3º Nível<br>
- O acidentado será conduzido para o hospital onde será atendido pela equipe médica deste estabelecimento, de acordo com a seguinte sequência de evacuação:
        <ol style="list-style-type:lower-alpha">
          <li>Prestar os primeiros socorros.</li>
          <li>Informar a coordenação do Exercício pela rede de emergência (Plano de Segurança).</li>
          <li>Preparar o ferido para o transporte.</li>
          <li>Transportar o ferido até o posto de socorro.</li>
          <li>Atendimento pela equipe médica.</li>
          <li>Evacuação para o hospital mais próximo.</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>


                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Gerar</button>
      </div>
    </div>
  </form></div>
</div>

{% endblock %}


{% block script %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script>
CKEDITOR.replace( 'sumario' );
CKEDITOR.replace( 'desenvolvimento' );

// Plano de Segurança
CKEDITOR.replace( 'referencias' );
CKEDITOR.replace( 'condicoes_execucao' );
CKEDITOR.replace( 'normas_gerais' );
CKEDITOR.replace( 'rec_ensaio_briefing' );
CKEDITOR.replace( 'comunicacao' );
CKEDITOR.replace( 'medidas_preventivas' );
CKEDITOR.replace( 'medidas_particulares' );
CKEDITOR.replace( 'medidas_outras' );
CKEDITOR.replace( 'medidas_caso_acidente' );
</script>
{% endblock script %}
