<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alterações</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
	<style>
    div {
        height: 1100px;
        width: 750px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;

        border-style: solid;
        border-width: 1px;
        margin-top: 10px;
    }

    ul {
    	padding: 0;
    	margin: 0;
    }

    li {
    	border: 1px solid #000000;
    	list-style-type: none;
    	padding: 2px;
    }

    pre, table, td {
font-size: 15px;
font-family: Calibri;
margin: 0px;
padding: 0px;
    }
    </style>
</head>
<body>
<div>
  <ul>
    <li>
    	<pre>MINISTÉRIO DA DEFESA                                                                                      FOLHA DE ALTERAÇÕES
EXÉRCITO BRASILEIRO                                                                                         GUARNIÇÃO DE CUIABÁ - MT
CMO - 9ª RM                                                                                                         FOLHA Nº 01                                            
44º BIMTZ- 009126                                                                                                          
NOME: {{ militar.nome }}
POSTO/GRADUAÇÃO:  {{ militar.graduacao.nome }} {{ militar.numero }}
ARMA/SERVIÇO/QUALIFICAÇÃO: {{ militar.qm|upper }}                                                1º e 2º Semestre de 2015
RA: 30033386437-3                                                                                             PERÍODO: de 1º JAN a 31 DEZ</pre>
    </li>
    <li>Corpo</li>
  </ul>
</div>

<div>
<ul>
  <li>
    <table style="width:100%">
      <tr>
        <td style="width:70%">MINISTÉRIO DA DEFESA</td><td>FOLHA DE ALTERAÇÕES</td>
      </tr>
      <tr>
        <td>EXÉRCITO BRASILEIRO</td><td>GUARNIÇÃO DE CUIABÁ - MT</td>
      </tr>
      <tr>
        <td>CMO - 9ª RM</td><td>FOLHA Nº 01</td>
      </tr>
      <tr>
        <td>44º BIMTZ- 009126</td><td></td>
      </tr>
      <tr>
        <td>NOME: {{ militar.nome }}</td><td></td>
      </tr>
      <tr>
        <td>POSTO/GRADUAÇÃO: {{ militar.graduacao.nome }} {{ militar.numero }}</td><td></td>
      </tr>
      <tr>
        <td>ARMA/SERVIÇO/QUALIFICAÇÃO: {{ militar.qm|upper }}</td><td>1º e 2º Semestre de 2015</td>
      </tr>
      <tr>
        <td>RA: 30033386437-3</td><td>PERÍODO: de 1º JAN a 31 DEZ</td>
      </tr>
    </table>

  </li>
  <li>Corpo

<pre>
asdas
as
as
as
as
as
a
s
as
as
a
s
a
sa
s
as
as
as
a
s
as
as
a
s
a
sa
s
as
as
as
a
s
as
as
a
s
a
sa
s
as
as
as
a
s
as
as
a
s
a
sa
s
as
as
as
a
s
as
as
a
s
a
sa
s
</pre>
  </li>
</ul>
</div>
</body>
</html>