{% extends "base_generic_main.html" %}
{% load static %}
{% load humanize %}

{% block title %}Militar - {% if form.instance.nome %}{{ form.instance.nome }}{% else %}Adicionar Novo{% endif %}{% endblock %}

{% block style %}
<script src="{% static 'js/jquery.mask.min.js' %}" ></script>
<script src="{% static 'leaflet/dist/leaflet.js' %}" ></script>
<link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet"/>

<style>
#endereco-mapa{
  position: relative;
  border-radius: 15px;
  height: 400px;  /* or as desired */
  width: 100%; 
}
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">


<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row" style="margin-top:5px;">

  <div class="offset-md-3 col-md-6 mb-3" style="box-shadow: 10px 5px 15px #0000008a;">
    <div class="mb-3">
      {% if form.instance and form.instance.photo %}
        <img class="d-block mx-auto mb-4" src="{{ form.instance.photo.url }}" alt="" style="max-width: 200px;
    border-radius: 100px;">
      {% else %}
      <i class="fa-solid fa-user-tie d-block mx-auto mb-4" style="min-height: 150px;margin-top:15px;"></i>
      <label for="id_photo">Adicionar Foto:</label>
        {% endif %}
      {{ form.photo }}
      {{ form.photo.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.nome }}
      {{ form.nome.label_tag }}
      {{ form.nome.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.nome_guerra }}
      {{ form.nome_guerra.label_tag }}
      {{ form.nome_guerra.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.numero }}
      {{ form.numero.label_tag }}
      {{ form.numero.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.identidade }}
      {{ form.identidade.label_tag }}
      {{ form.identidade.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.cpf }}
      {{ form.cpf.label_tag }}
      {{ form.cpf.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.rg }}
      {{ form.rg.label_tag }}
      {{ form.rg.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.ra }}
      {{ form.ra.label_tag }}
      {{ form.ra.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.graduacao }}
      {{ form.graduacao.label_tag }}
      {{ form.graduacao.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating mb-3">
      {{ form.qm }}
      {{ form.qm.label_tag }}
      {{ form.qm.errors }}
    </div>
  </div>

  <div class="col-md-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-tab-pane" type="button" role="tab" aria-controls="detail-tab-pane" aria-selected="true">Detalhes</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Endereço &amp; Contato</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="bank-tab" data-bs-toggle="tab" data-bs-target="#bank-tab-pane" type="button" role="tab" aria-controls="bank-tab-pane" aria-selected="false">Dados Bancários</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="mapsF-tab" data-bs-toggle="tab" data-bs-target="#mapsF-tab-pane" type="button" role="tab" aria-controls="mapsF-tab-pane" aria-selected="false">Mapa da Força</button>
      </li>
    </ul>
  </div>
  </div>

<div class="tab-content" id="myTabContent" style="box-shadow: 10px 5px 15px #0000008a;">
  <div class="tab-pane fade show active" id="detail-tab-pane" role="tabpanel" aria-labelledby="detail-tab" tabindex="0">
    <div class="row" style="padding: 15px;">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.escolaridade }}
          {{ form.escolaridade.label_tag }}
          {{ form.escolaridade.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.religiao }}
          {{ form.religiao.label_tag }}
          {{ form.religiao.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.tipagem }}
          {{ form.tipagem.label_tag }}
          {{ form.tipagem.errors }}
        </div>
      </div>
      <div class="col-md-4">        
        <div class="form-floating mb-3">
          <select class="form-select" id="id_naturalidade_estado">
            <option value="" selected="">---------</option>
          </select>
          <label for="id_naturalidade_estado">Naturalidade Estado:</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <select name="naturalidade" class="form-select" id="id_naturalidade">
            <option value="" selected="">---------</option>
          </select>
          {{ form.naturalidade.label_tag }}
          {{ form.naturalidade.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.nascimento }}
          {{ form.nascimento.label_tag }}
          {{ form.nascimento.errors }}
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-floating mb-3">
          {{ form.aptidao }}
          {{ form.aptidao.label_tag }}
          {{ form.aptidao.errors }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          {{ form.pai }}
          {{ form.pai.label_tag }}
          {{ form.pai.errors }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          {{ form.mae }}
          {{ form.mae.label_tag }}
          {{ form.mae.errors }}
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
    <div class="row" style="padding: 15px;">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.logradouro }}
          {{ form.logradouro.label_tag }}
          {{ form.logradouro.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.numero_endereco }}
          {{ form.numero_endereco.label_tag }}
          {{ form.numero_endereco.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.bairro_endereco }}
          {{ form.bairro_endereco.label_tag }}
          {{ form.bairro_endereco.errors }}
        </div>
      </div>
      <div class="col-md-6">        
        <div class="form-floating mb-3">
          <select class="form-select" id="id_estado_endereco">
            <option value="" selected="">---------</option>
          </select>
          <label for="id_estado_endereco">Estado:</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <select class="form-select" id="id_cidade_endereco" name="cidade_endereco">
            <option value="" selected="">---------</option>
          </select>
          {{ form.cidade_endereco.label_tag }}
          {{ form.cidade_endereco.errors }}
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-floating mb-3">
          {{ form.complemento_endereco }}
          {{ form.complemento_endereco.label_tag }}
          {{ form.complemento_endereco.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.cep_endereco }}
          {{ form.cep_endereco.label_tag }}
          {{ form.cep_endereco.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text">WhastApp?</span>
          <div class="input-group-text">
            {{ form.celular_is_whatsapp }}
          </div>
          <div class="form-floating ">
            {{ form.celular }}
            {{ form.celular.label_tag }}
          </div>
          {{ form.celular.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.telefone }}
          {{ form.telefone.label_tag }}
          {{ form.telefone.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.email }}
          {{ form.email.label_tag }}
          {{ form.email.errors }}
        </div>
      </div>
      <div class="col-md-12" style="min-height: 420px;">
        <div id="endereco-mapa" class="leaflet-container" ></div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.endereco_latitude }}
          {{ form.endereco_latitude.label_tag }}
          {{ form.endereco_latitude.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.endereco_longitude }}
          {{ form.endereco_longitude.label_tag }}
          {{ form.endereco_longitude.errors }}
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="bank-tab-pane" role="tabpanel" aria-labelledby="bank-tab" tabindex="0">
    <div class="row" style="padding: 15px;">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.preccp }}
          {{ form.preccp.label_tag }}
          {{ form.preccp.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.banco }}
          {{ form.banco.label_tag }}
          {{ form.banco.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.agencia }}
          {{ form.agencia.label_tag }}
          {{ form.agencia.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.conta }}
          {{ form.conta.label_tag }}
          {{ form.conta.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.conta_tipo }}
          {{ form.conta_tipo.label_tag }}
          {{ form.conta_tipo.errors }}
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="mapsF-tab-pane" role="tabpanel" aria-labelledby="mapsF-tab" tabindex="0">
    <div class="row" style="padding: 15px;">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.subunidade }}
          {{ form.subunidade.label_tag }}
          {{ form.subunidade.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.pelotao }}
          {{ form.pelotao.label_tag }}
          {{ form.pelotao.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.grupo_combate }}
          {{ form.grupo_combate.label_tag }}
          {{ form.grupo_combate.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          {{ form.funcao }}
          {{ form.funcao.label_tag }}
          {{ form.funcao.errors }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row my-5" style="background: darkslategray;padding: 10px;">
  <div class="offset-md-7 col-md-3">
    <div class="form-floating">
      {{ form.chave }}
      {{ form.chave.label_tag }}
      {{ form.chave.errors }}
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success" type="submit" style="margin-top: 8px;"><i class="fa-regular fa-floppy-disk"></i> | Salvar</button>
    <!--input type="submit" value="Salvar" class="btn btn-primary"-->
  </div>
</div>
  
</form>

</div>
{% endblock content %}

{% block script %}

<script>
$(document).ready(function(){
  $("#id_subunidade").change(function(){
    selected = $("#id_subunidade option:selected").val()
    $.ajax({
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      url: '{% url 'militar:militar-get_pelotao-json'  %}',
      data: {
              'subunidade': selected
            },
      success: function(jsonResult) {
        $("#id_pelotao").empty();
        $('#id_pelotao').append(new Option("---------", ""));
        for (var i = 0, emp; i < jsonResult.pelotoes.length; i++) {
           emp = jsonResult.pelotoes[i];
           if (emp[0] == '{{ form.instance.pelotao.pk }}'){
           $('#id_pelotao').append(new Option(emp[1], emp[0], true, true));
           }else{
            $('#id_pelotao').append(new Option(emp[1], emp[0]));
           }
        };
        $("#id_pelotao").change();
      }
    });
  });

  $("#id_pelotao").change(function(){
    selected = $("#id_pelotao option:selected").val()
    $.ajax({
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      url: '{% url 'militar:militar-get_gc-json'  %}',
      data: {'pelotao': selected},
      success: function(jsonResult) {
        $("#id_grupo_combate").empty();
        $('#id_grupo_combate').append(new Option("---------", ""));
        for (var i = 0, emp; i < jsonResult.gcs.length; i++) {
           emp = jsonResult.gcs[i];
           if (emp[0] == '{{ form.instance.grupo_combate.pk }}'){
           $('#id_grupo_combate').append(new Option(emp[1], emp[0], true, true));
           }else{
            $('#id_grupo_combate').append(new Option(emp[1], emp[0]));
           }
        };
      }
    });
  });

  
  $("#id_subunidade").change();

  $("#id_naturalidade_estado").change(function(){
    selected = $("#id_naturalidade_estado option:selected").val()
    $.ajax({
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      url: '{% url 'base:base-get_cidades-json'  %}',
      data: {
              'id_estado': selected
            },
      success: function(jsonResult) {
        $("#id_naturalidade").empty();
        $('#id_naturalidade').append(new Option("---------", ""));
        for (var i = 0, emp; i < jsonResult.cidades.length; i++) {
           emp = jsonResult.cidades[i];
           if (emp[0] == '{{ id_naturalidade }}'){
           $('#id_naturalidade').append(new Option(emp[1], emp[0], true, true));
           }else{
            $('#id_naturalidade').append(new Option(emp[1], emp[0]));
           }
        };
        $("#id_naturalidade").change();
      }
    });
  });

  $("#id_estado_endereco").change(function(){
    selected = $("#id_estado_endereco option:selected").val()
    $.ajax({
      type: 'GET',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      url: '{% url 'base:base-get_cidades-json'  %}',
      data: {
              'id_estado': selected
            },
      success: function(jsonResult) {
        $("#id_cidade_endereco").empty();
        $('#id_cidade_endereco').append(new Option("---------", ""));
        for (var i = 0, emp; i < jsonResult.cidades.length; i++) {
           emp = jsonResult.cidades[i];
           if (emp[0] == '{{ id_cidade_endereco }}'){
           $('#id_cidade_endereco').append(new Option(emp[1], emp[0], true, true));
           }else{
            $('#id_cidade_endereco').append(new Option(emp[1], emp[0]));
           }
        };
        $("#id_cidade_endereco").change();
      }
    });
  });
  
  var lat = -15.5699123;
  var lng = -56.0670877;
  {% if form.instance.endereco_latitude %}lat=parseFloat("{{ form.instance.endereco_latitude }}".replace(",","."));{% endif %}
  {% if form.instance.endereco_longitude %}lng=parseFloat("{{ form.instance.endereco_longitude }}".replace(",","."));{% endif %}
  // console.log(lat);
  // quando clicamos em contatos, ele vai montar o mapa, economizar memoria.
  $("#contact-tab").click(function() {
    var map = L.map('endereco-mapa').setView([ lat, lng], 17);
    mapLink = '<a href="https://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
      'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      {
        attribution: 'Mapa &copy; ' + mapLink,
        maxZoom: 200,
      }).addTo(map);
    var marker = L.marker([lat, lng],{
          draggable: true
        });
    marker.on('dragend', function(e) {
      lat = e.target.getLatLng().lat;
      lng = e.target.getLatLng().lng;
      $("#id_endereco_latitude").val(lat);
      $("#id_endereco_longitude").val(lng)
    });
    marker.addTo(map);
  });
  
  /*
  map.on('click',
  function mapClickListen(e) {
    var pos = e.latlng;
    console.log('map click event');
    var marker = L.marker(
      pos, {
        draggable: true
      }
    );
    marker.on('drag', function(e) {
      console.log('marker drag event');
    });
    marker.on('dragstart', function(e) {
      console.log('marker dragstart event');
      map.off('click', mapClickListen);
    });
    marker.on('dragend', function(e) {
      console.log('marker dragend event');
      setTimeout(function() {
        map.on('click', mapClickListen);
      }, 10);
    });
    marker.addTo(map);
    }
  );*/


// colocamos mascaras...
$("#id_cpf").mask('000.000.000-00', {reverse:true});
$('#id_nascimento').mask('00/00/0000');
$('#id_celular').mask('(00) 0.0000-0000');
$('#id_telefone').mask('(00) 0000-0000');
$('#id_cep_endereco').mask('00000-000');
});

$(function() {
  $.ajax({
    type: 'GET',
    dataType: 'json',
    contentType: 'application/json; charset=utf-8',
    url: '{% url 'base:base-get_estados-json'  %}',
    data: {},
    success: function(jsonResult) {
      $("#id_estado_endereco").empty();
      $('#id_estado_endereco').append(new Option("---------", ""));
      for (var i = 0, emp; i < jsonResult.estados.length; i++) {
         emp = jsonResult.estados[i];
         if (emp[0] == '{{ id_estado_endereco }}'){
         $('#id_estado_endereco').append(new Option(emp[1], emp[0], true, true));
         }else{
          $('#id_estado_endereco').append(new Option(emp[1], emp[0]));
         }
      };
      $("#id_estado_endereco").change();
    }
  });
  
  $.ajax({
    type: 'GET',
    dataType: 'json',
    contentType: 'application/json; charset=utf-8',
    url: '{% url 'base:base-get_estados-json'  %}',
    data: {},
    success: function(jsonResult) {
      $("#id_naturalidade_estado").empty();
      $('#id_naturalidade_estado').append(new Option("---------", ""));
      for (var i = 0, emp; i < jsonResult.estados.length; i++) {
         emp = jsonResult.estados[i];
         if (emp[0] == '{{ id_naturalidade_estado }}'){
         $('#id_naturalidade_estado').append(new Option(emp[1], emp[0], true, true));
         }else{
          $('#id_naturalidade_estado').append(new Option(emp[1], emp[0]));
         }
      };
      $("#id_naturalidade_estado").change();
    }
  });
  

});
</script>
{% endblock script %}
