<div class="offset-md-9 col-md-3 mb-3">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <a type="button" class="btn btn-outline-secondary" href="{% url 'militar:militar-map_force_tree-view' %}"><i class="fa-solid fa-list"></i></a>
    <a type="button" class="btn btn-outline-secondary" href="{% url 'militar:militar-map_force_kaban-view' %}"><i class="fa-solid fa-address-book"></i></a>
    <a type="button" class="btn btn-outline-secondary" href="{% url 'militar:militar-map_force_maps-view' %}"><i class="fa-solid fa-map-location-dot"></i></a>
    <a type="button" class="btn btn-outline-secondary" href="{% url 'militar:militar-map_force_diagram-view' %}"><i class="fa-solid fa-diagram-project"></i></a>
  </div>
</div>