{% extends "base_generic_main.html" %}
{% load static %}
{% load extras %}

{% block title %}Mapa da Força - Kanban{% endblock title %}


{% block content %}

{% for obj in objects %}
<div class="container-fluid" style="min-height:600px;">
  <div class="row" style="padding:15px;">
    <div class="col-md-7" >
      <nav aria-label="breadcrumb" style="width:100%;">
        <ol class="breadcrumb">
          {% if tipo == "pelotao_id" %}<li class="breadcrumb-item active">{{ obj.instance.unidade }}</li>
          {% elif tipo == "gc_id" %}
          <li class="breadcrumb-item">{{ obj.instance.subunidade.unidade.abr }}</li>
          <li class="breadcrumb-item"><a href="{% url 'militar:militar-map_force_list-view' %}?subunidade_id={{ obj.instance.subunidade.pk }}">{{ obj.instance.subunidade }}</a></li>
          {% elif tipo == "militares" %}
          <li class="breadcrumb-item">{{ obj.instance.pelotao.subunidade.unidade.abr }}</li>
          <li class="breadcrumb-item"><a href="{% url 'militar:militar-map_force_list-view' %}?subunidade_id={{ obj.instance.pelotao.subunidade.pk }}">{{ obj.instance.pelotao.subunidade }}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'militar:militar-map_force_list-view' %}?pelotao_id={{ obj.instance.pelotao.pk }}">{{ obj.instance.pelotao }}</a></li>
          {% endif %}
          <li class="breadcrumb-item active">{{ obj.instance.nome }}</li>
          {% if tipo != "militares" %}
          <li class="breadcrumb-item" style="display: flex;"><select class="form-select" aria-label="Default select example" style="width: 90%;" name="filho_id" id="filho_id">
            <option value="0" selected>----</option>
            {% for filho in obj.filhos %}
            <option value="{{ filho.pk }}">{{ filho.nome }}</option>
            {% endfor %}
            </select></li>{% endif %}
        </ol>
      </nav>
      
      
    </div>
    {% include "militares/mapforce/col_md_selecttype_view.html" with type="kanban" class="offset-md-2 col-md-3 mb-3" %}
  </div>

  <div class="row">
    {% for m in obj.militares %}
    <div class="col">
      <div class="card">
        {% if m.photo %}
          <img class="card-img-top d-block mx-auto" src="{{ m.photo.url }}" alt="" style="max-width: 150px;
      border-radius: 50px;">
          {% else %}
          <i class="fa-solid fa-user-tie d-block mx-auto mb-4" style="min-height: 150px;margin-top:15px;"></i>
          {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ m.nome }}</h5>
          <p class="card-text">{% if m.celular and m.celular_is_whatsapp %}<a href="https://wa.me/+55{{ m.celular|phone_to_int }}?text=MandaBrasa"><i class="fa-brands fa-whatsapp" style="color: black; min-height:25px;"></i></a>{% endif %}
      <a href="tel:{{ m.celular|phone_to_int }}"><i class="fa-solid fa-mobile-screen" style="color: black; min-height:25px;"></i></a>
      <a href="tel:{{ m.telefone|phone_to_int }}"><i class="fa-solid fa-phone" style="color: black; min-height:22px;"></i></a>
      <a href="mailto:{{ m.email }}"><i class="fa-regular fa-envelope" style="color: black; min-height:25px;"></i></a>
      |
      <a href="{% url 'militar:militar-edit_militar-view' pk=m.pk %}"><i class="fa-regular fa-pen-to-square" style="color: black; min-height:25px;"></i></a></p>
        </div>
      </div>
    </div>
    
    {% endfor %}
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item {% if not obj.militares.has_previous %}disabled{% endif %}">
        <a class="page-link" href="?{% if tipo == 'pelotao_id' %}subunidade_id={{ obj.instance.pk }}&amp;{% elif tipo == 'gc_id' %}pelotao_id={{ obj.instance.pk }}&amp;{% elif tipo == 'militares' %}gc_id={{ obj.instance.pk }}&amp;{% endif %}pagina={% if obj.militares.has_previous %}{{ obj.militares.previous_page_number }}{% endif %}">Anterior</a>
      </li>
      {% for p in obj.militares.paginator.page_range %}
      <li class="page-item {% if obj.militares.number == p %}active{% endif %}"><a class="page-link" href="?{% if tipo == 'pelotao_id' %}subunidade_id={{ obj.instance.pk }}&amp;{% elif tipo == 'gc_id' %}pelotao_id={{ obj.instance.pk }}&amp;{% elif tipo == 'militares' %}gc_id={{ obj.instance.pk }}&amp;{% endif %}pagina={{ p }}">{{ p }}</a></li>
      {% endfor %}
      <li class="page-item {% if not obj.militares.has_next  %}disabled{% endif %}">
        <a class="page-link" href="?{% if tipo == 'pelotao_id' %}subunidade_id={{ obj.instance.pk }}&amp;{% elif tipo == 'gc_id' %}pelotao_id={{ obj.instance.pk }}&amp;{% elif tipo == 'militares' %}gc_id={{ obj.instance.pk }}&amp;{% endif %}pagina={% if obj.militares.has_next  %}{{ obj.militares.next_page_number }}{% endif %}">Proximo</a>
      </li>
    </ul>
  </nav>
</div>
{% endfor %}
{% endblock content %}

{% block script %}

<script>
$(document).ready(function(){
  $("#filho_id").change(function(){
    filho_id = $("#filho_id option:selected").val();
    if (filho_id && filho_id!=0){
      window.location.href = "{% url 'militar:militar-map_force_kanban-view' %}?{{ tipo }}="+filho_id;
    }
  });
});
</script>
{% endblock script %}