{% load extras %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Função</th>
      <th scope="col">Celular</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for m in militares %}
    <tr>
      <th scope="row">{{ m.numero }}</th>
      <td>{{ m.nome|default_if_none:"--" }}</td>
      <td>{{ m.funcao|default_if_none:"--" }}</td>
      <td>{{ m.celular|default_if_none:"--" }}</td>
      
      <td>{% if m.celular and m.celular_is_whatsapp %}<a href="https://wa.me/{{ m.celular|phone_to_int }}?text=MandaBrasa"><i class="fa-brands fa-whatsapp" style="color: black; min-height:25px;"></i></a>{% endif %}
        <a href="tel:{{ m.celular|phone_to_int }}"><i class="fa-solid fa-mobile-screen" style="color: black; min-height:25px;"></i></a>
        <a href="tel:{{ m.telefone|phone_to_int }}"><i class="fa-solid fa-phone" style="color: black; min-height:22px;"></i></a>
        <a href="mailto:{{ m.email }}"><i class="fa-regular fa-envelope" style="color: black; min-height:25px;"></i></a>
        |
        <a href="{% url 'militar:militar-edit_militar-view' pk=m.pk %}"><i class="fa-regular fa-pen-to-square" style="color: black; min-height:25px;"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>