{% extends "base_generic_main.html" %}
{% load static %}
{% load extras %}

{% block title %}Mapa da Força - Lista{% endblock title %}


{% block content %}
<div class="container-fluid" style="min-height:600px;">
  <div class="row" style="padding:15px;">
    {% include "militares/mapforce/col_md_selecttype_view.html" with type="tree" %}
    <div class="offset-md-1 col-md-10">

<div class="accordion" id="accordionPanelsStayOpenUnidade">
{% for b in unidades %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingUnidade">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseUnidade" aria-expanded="true" aria-controls="panelsStayOpen-collapseUnidade">
        {{ b.instance.nome }}
      </button>
    </h2>
    <div id="panelsStayOpen-collapseUnidade" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingUnidade">
      <div class="accordion-body table-responsive text-nowrap">
        <strong>{{ b.instance.nome_historico }}</strong> - {{ b.instance.nome }} - <code>{{ b.instance.ref|default_if_none:"--" }}</code>
        <div class="accordion" id="accordionPanelsStayOpenSubUnidade">
          {% for s in b.filhos %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSUnidade{{ s.instance.pk }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSubUnidade{{ s.instance.pk }}" aria-expanded="true" aria-controls="panelsStayOpen-collapseSubUnidade{{ s.instance.pk }}">
                {{ s.instance.nome }}
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSubUnidade{{ s.instance.pk }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSUnidade{{ s.instance.pk }}">
              <div class="accordion-body table-responsive text-nowrap">
                <strong>{{ s.instance.nome }}</strong> - {{ s.instance.nome }} - <code>{{ s.instance.ref|default_if_none:"--" }}</code>
                <a type="button" class="btn btn-outline-primary mb-2" href="?{{ s.tipo }}={{ s.instance.pk }}">Abrir <i class="fa-solid fa-up-right-from-square"></i></a>

                {% for p in s.filhos %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingPelotao{{ p.instance.pk }}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsePelotao{{ p.instance.pk }}" aria-expanded="true" aria-controls="panelsStayOpen-collapsePelotao{{ p.instance.pk }}">
                        {{ p.instance.nome }}
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapsePelotao{{ p.instance.pk }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingPelotao{{ p.instance.pk }}">
                      <div class="accordion-body table-responsive text-nowrap">
                        <strong>{{ p.instance.nome }}</strong> - {{ p.instance.nome }} - <code>{{ p.instance.ref|default_if_none:"--" }}</code>
                <a type="button" class="btn btn-outline-primary mb-2" href="?{{ p.tipo }}={{ p.instance.pk }}">Abrir <i class="fa-solid fa-up-right-from-square"></i></a>

                        {% for g in p.filhos %}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingGC{{ g.instance.pk }}">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseGC{{ g.instance.pk }}" aria-expanded="true" aria-controls="panelsStayOpen-collapseGC{{ g.instance.pk }}">
                                {{ g.instance.nome }}
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseGC{{ g.instance.pk }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingGC{{ g.instance.pk }}">
                              <div class="accordion-body table-responsive text-nowrap">
                                <strong>{{ g.instance.nome }}</strong> - {{ g.instance.nome|default_if_none:"--" }} - <code>{{ g.instance.ref|default_if_none:"--" }}</code>
                <a type="button" class="btn btn-outline-primary mb-2" href="?{{ g.tipo }}={{ g.instance.pk }}">Abrir <i class="fa-solid fa-up-right-from-square"></i></a>

                                {% include "militares/mapforce/tree_table.html" with militares=g.militares %}
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        {% include "militares/mapforce/tree_table.html" with militares=p.militares %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% include "militares/mapforce/tree_table.html" with militares=s.militares %}
              </div>
            </div>
          </div>
          {% endfor %}
          {% include "militares/mapforce/tree_table.html" with militares=b.militares %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

    </div>
  </div>
</div>
{% endblock content %}